{% extends 'base.html' %}

{% load static %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cards = document.querySelectorAll('.card');

        cards.forEach(card => {
            card.addEventListener('click', function() {
                this.querySelector('.card-inner').classList.toggle('is-flipped');
            });
        });
    });
</script>

{% block title %}
{% endblock %}
{% block head %}
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--    <script>-->
<!--        $(document).ready(function() {-->
<!--            $('#id_major').change(function() {-->
<!--                var url = "{% url 'load_chapters' %}";-->
<!--                var major = $(this).val();-->
<!--                $.ajax({-->
<!--                    url: url,-->
<!--                    data: {-->
<!--                        'major': major-->
<!--                    },-->
<!--                    success: function(data) {-->
<!--                        $('#id_chapter').empty();-->
<!--                        $('#id_chapter').append('<option value="" disabled selected>Select a chapter</option>');-->
<!--                        $.each(data, function(key, value) {-->
<!--                            $('#id_chapter').append('<option value="' + value[0] + '">' + value[1] + '</option>');-->
<!--                        });-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->
{% endblock %}

{% block content %}  
<style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
        body {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 15px;
            line-height: 1.7;
            color: #c4c3ca;
            background-color: #1f2029;
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        a {
            cursor: pointer;
            transition: all 200ms linear;
        }
        a:hover {
            text-decoration: none;
        }
        .link {
            color: #c4c3ca;
        }
        .link:hover {
            color: #ffeba7;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.7;
        }
        h4 {
            font-weight: 600;
        }
        h6 span {
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .section {
            position: relative;
            width: 100%;
            display: block;
        }
        .full-height {
            min-height: 100vh;
        }
        .container {
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        background-color: #2a2b38;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        text-align: center;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        h1 {
            font-weight: 600;
            font-size: 24px;
            color: #ffeba7;
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label {
            font-weight: 500;
            margin-bottom: 5px;
            color: #c4c3ca;
        }
        input, select {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #1f2029;
            color: #c4c3ca;
            font-weight: 500;
            width: 100%;
            max-width: 300px;
        }
        input[type="submit"] {
            background-color: #ffeba7;
            color: #102770;
            cursor: pointer;
            font-weight: 600;
            width: 100%;
            max-width: 300px;
        }
        input[type="submit"]:hover {
            background-color: #102770;
            color: #ffeba7;
        }
        .sidenav {
            height: 100%;
            width: 210px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 40px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
        }
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }
        .sidenav a:hover {
            color: #f1f1f1;
        }
        .main {
            margin-left: 210px;
            padding: 0px 10px;
        }
        .big-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            box-sizing: border-box;
        }
        .card {
            perspective: 1000px;
            width: calc(33.33% - 20px);
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 16px;
            overflow: hidden;
            background-color: #2a2b38; /* Match the background color */
            color: #c4c3ca;
        }
        .card-inner {
            position: relative;
            width: 100%;
            height: 400px;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            background-color: #2a2b38; /* Match the background color */
        }
        .card.is-flipped .card-inner {
            transform: rotateY(180deg);
        }
        .card-front, .card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: none;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }
        .card-front {
            background-color: #2a2b38;
        }
        .card-back {
            background-color: #1f2029;
            transform: rotateY(180deg);
            padding: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .card-back img {
            width: 100%;
            height: auto;
            max-width: 150px;
            max-height: 150px;
            object-fit: cover;
        }
        .fun-facts {
            text-align: left;
            padding: 10px 0;
        }
    .phrases-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        background-color: #2a2b38; /* Unified background for the entire container */
        padding: 20px;
    }

    .column {
        flex: 1;
        padding: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .column:last-child {
        border-right: none;
    }

    .column p {
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        background-color: #2a2b38;
    }

    table, th, td {
        border: 1px solid #444;
    }

    th, td {
        padding: 10px;
        text-align: center;
    }

    th {
        background-color: #343a40;
    }

    @media screen and (max-height: 450px) {
        .sidenav { padding-top: 15px; }
        .sidenav a { font-size: 18px; }
    }
</style>
    <h1>Rhymed poem</h1>
    {% load custom_templates %}  
    {% load custom_filters %}  
    <!-- Iterate through response_1 and print each phrase on a new line -->
<div class="phrases-container">  
    <div class="column">  
        {% for phrase in response_1 %}  
            <p>{{ phrase }}</p>  
            {% if forloop.counter|divisibleby:2 %}  
                <br>  
            {% endif %}  
        {% endfor %}  
    </div>  
    <div class="column">  
        {% for phrase in response_1_2 %}  
            <p>{{ phrase }}</p>  
            {% if forloop.counter|divisibleby:2 %}  
                <br>  
            {% endif %}  
        {% endfor %}  
    </div>  
</div>
    {% if paired_words %}
    <table>
        <thead>
            <tr>
                <th>Words</th>
                <th>Translation</th>
            </tr>
        </thead>
        <tbody>
            {% for word, translation in paired_words %}
                <tr>
                    <td>{{ word }}</td>
                    <td>{{ translation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
<div class="container">
  <h1>Playing cards</h1>
    <div class="big-box">
        {% for key, value in response_2.items %}
        <div class="card" onclick="this.classList.toggle('is-flipped')">
            <div class="card-inner">
                <div class="card-front">
                    <img src="{% static 'logo/aiq.png' %}" alt="Logo" style="width: 100px; height: auto;">
                    <h3>{{ key }}</h3>
                </div>
                <div class="card-back">
                    <div class="photo">
                        {% if forloop.counter0 < response_3|length %}
                        <img src="{{ response_3|index:forloop.counter0 }}" alt="Photo">
                        {% else %}
                        <img src="https://via.placeholder.com/150" alt="Fallback Photo"> <!-- Fallback image if URLs are fewer than items -->
                        {% endif %}
                    </div>
                    <div class="fun-facts">
                        <p><strong>{{ key }}</strong></p>
                        {% for fact in value %}
                        <p>{{ fact }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
